backend:
  name: github
  repo: smile-wifi/smile-wifi.github.io # Your GitHub repo name
  branch: main
  base_url: https://decapcms-oauth.vercel.app
  auth_endpoint: /auth
  site_domain: smile-wifi.github.io

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "news"
    label: "News"
    folder: "news"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Image", name: "image", widget: "image" }
